/* TODO :: Optimise declarations */
html {
   font-size: 14px;
   letter-spacing: 2px;
}
body {
   background-color: rgba(0, 0, 0, 0);
   margin: 0 auto;
   overflow: hidden;
   font-family: "Neuton", serif;
   font-weight: 400;
   width: 100%;
}
header {
   display: flex;
   background: #0169d2;
   color: white;
   justify-content: center;
}
main {
   display: flex;
   justify-content: center;
}
#scoreboard {
   display: grid;
   grid-template-columns: 125px 351px 27px 38px 143px 38px 27px 351px 125px;
   grid-template-rows: repeat(2, minmax(30px, auto));
   color: #444;
}
.player1flag,
.player1name,
.player1score,
.matchscore,
.player2score,
.player2name,
.player2flag,
.race {
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 1.5rem;
   padding: 0.5rem 0;
   text-shadow: 1px 1px 2px black;
}

.player1flag {
   grid-column: 1;
   background-color: #f0f;
   border-bottom: 1px solid black;
   border-left: 1px solid black;
   border-bottom-left-radius: 1rem;
}
.player1name {
   grid-column: 2/4;
   background: linear-gradient(0deg, #41a7da, rgba(0, 0, 0, 1) 100%);
   border-bottom: 1px solid black;
   justify-content: flex-start;
   padding-left: 1rem;
}
.player1score {
   grid-column: 4;
   background-color: #000;
   border-bottom: 1px solid black;
}
.matchscore {
   grid-column: 5;
   background-color: #fff;
   color: black;
   font-size: 2rem;
   font-weight: bold;
   text-shadow: unset;
}
.player2score {
   grid-column: 6;
   background-color: #000;
   border-bottom: 1px solid black;
}
.player2name {
   grid-column: 7/9;
   background: linear-gradient(0deg, #41a7da, rgba(0, 0, 0, 1) 100%);
   border-bottom: 1px solid black;
   justify-content: flex-end;
   padding-right: 1rem;
}
.player2flag {
   grid-column: 9;
   background-color: #f0f;
   border-bottom: 1px solid black;
   border-bottom-right-radius: 1rem;
}
.race {
   grid-column: 4/7;
   grid-row: 2;
   background: linear-gradient(
      0deg,
      rgba(23, 23, 23, 1) 25%,
      rgba(0, 0, 0, 1) 75%
   );
   border-left: 1px solid black;
   border-bottom: 1px solid black;
   border-right: 1px solid black;
   border-bottom-left-radius: 2rem;
   border-bottom-right-radius: 2rem;
}
.bg-oil {
   background: linear-gradient(
      0deg,
      rgba(23, 23, 23, 1) 25%,
      rgba(0, 0, 0, 1) 75%
   );
}

#p1Name,
#p2Name {
   font-size: 1.75rem;
}

@keyframes RotatingBorder {
   0% {
      border-image-source: linear-gradient(-45deg, #f0f, #ff0);
   }
   33% {
      border-image-source: linear-gradient(-45deg, #ff0, #0ff);
   }
   66% {
      border-image-source: linear-gradient(-45deg, #0ff, #f0f);
   }
   100% {
      border-image-source: linear-gradient(-45deg, #f0f, #ff0);
   }
}
